body{
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px repeat(3, 300px);
  grid-template-areas: 
  "header header header header"
  "navbar main-content main-content main-content"
  "navbar content-1 content-2 content-3"
  "navbar footer footer footer";
}

header, section, footer{
  padding: 20px;
}

header{
  background-color: lightblue;
  grid-area: header;
}

.navbar-content{
  background-color: lightgreen;
  grid-area: navbar;
}

.navbar-content ul{
  margin: 0;
  padding: 0;
}

.navbar-content ul li {
  list-style: none;
  margin: 8px;
}

.navbar-content ul li a {
  color: #000;
}

.main-content{
  background-color: lightsalmon;
  grid-area: main-content;
}

.content-1{
  background-color: lightblue;
  grid-area: content-1;
}
.content-2{
  grid-area: content-2;
  background-color: palegoldenrod;
}
.content-3{
  grid-area: content-3;
  background-color: violet;
}
footer{
  grid-area: footer;
  background-color: lightpink;
}